<!DOCTYPE html>
<html>
  <head>
    <title>Ruby on Rails</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
      <%= nav_bar brand: "Orders", brand_link: 'order' do %>
          <%= menu_group do %>
          <%= menu_item "Batches", 'batch' %>
          <%= menu_item "Reports", 'reports' %>
          <% end %>
      <% end %>
      <div class="container">
        <%= yield %>
      </div>
  </body>
</html>
